[submodule "Assets/WORK/thombre"]
	path = Assets/WORK/thombre
	url = git@github.com:Thombrix/GAMEJAM4-THOMBRE.git
	branch = main
[submodule "Assets/WORK/groux"]
	path = Assets/WORK/groux
	url = git@github.com:ComradeGroux/gamejame4-groux.git
	branch = main
[submodule "Assets/WORK/leo"]
	path = Assets/WORK/leo
  url = git@github.com:CypherJack/zeshootjam.git
  branch = main
[submodule "Assets/WORK/zannnol"]
	path = Assets/WORK/zannnol
	url = git@github.com:Zannnol/UPSI4_theShoot.git
	branch = main
[submodule "Assets/WORK/cattant"]
	path = Assets/WORK/cattant
	url = git@github.com:Toodiy/Bingabon.git
	branch = main
